.DS_Store
/Course01_SoarEssentials/soar_venv
/Course01_SoarEssentials/__pycache__
/SoarSuite_9.6.2-Multiplatform/bin/__pycache__
/SoarSuite_9.6.2-Multiplatform
/SoarSuite_9.6.2-Multiplatform
/SoarSuite_9.6.2-Multiplatform
/SoarSuite_9.6.2-Multiplatform
